h3.heading{
    border-bottom: solid 1px #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

div.sub-heading{
    font-size: 20px;
}

div.job{
    margin-bottom: 35px;
}

div.jumbotron div.thumbnail{
    width: 150px;
    margin-right: 20px;
}

body{
    padding-top: 20px;
    background: url('../img/light_wool.png');
}

div.footer{
    margin-top: 40px;
    border-top: solid 1px #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.green{
    color: #5cb85c;
}

.blue{
    color: #428bca;
}

.yellow{
    color: #f0ad4e;
}

.label{
    margin-right: 2px;
    display: inline-block;
}

.label-language{
    background-color: #5cb85c;
}

.label-framework{
    background-color: #428bca;
}

.label-data-repo{
    background-color: #f0ad4e;
}

@media (max-width: 1199px){
    .green, .blue, .yellow{
        color: #000;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    div.jumbotron h1{
        font-size: 50px;
    }
}

@media (max-width: 428px) {
    div.jumbotron{
        text-align: center;
    }

    div.jumbotron div.thumbnail{
        margin: auto;
    }

    div.jumbotron div.thumbnail.pull-left{
        float: none !important;
    }
}