<!DOCTYPE html>
<html ng-app="resumeApp" ng-controller="resumeCtrl">
    <head>
        <title ng-bind="resume.name + ' - Resume'"></title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <div class="container">
                    <div class="thumbnail pull-left">
                        <img src="img/placeholder-headshot.jpg" alt="..." />
                    </div>
                    <h1 class="green">{{ resume.name }}</h1>
                    <button class="btn btn-success" ng-click="sendEmail()">Contact me</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <h3 class="heading">Professional Info</h3>
                    <p>{{ resume.professionalInfo }}</p>

                    <h3 class="heading">Work Experience</h3>
                    <div class="job" ng-repeat="job in resume.workExperience">
                        <div class="sub-heading green">{{ job.title }}, {{ job.company }}</div>
                        <p><em>{{ job.location}} &#151; {{ job.start }} - {{ job.end }}</em></p>
                        <p>{{ job.description }}</p>
                        <p><strong>Accomplishments:</strong></p>
                        <ul>
                            <li ng-repeat="accomplishment in job.accomplishments">{{ accomplishment }}</li>
                        </ul>
                        <p>
                            <span ng-repeat="skill in job.skillsUsed | orderBy:'skill.type'" class="label" ng-class="{ 'label-language': skill.type == SKILL_TYPE.language, 'label-framework': skill.type == SKILL_TYPE.frameworkSlashLibrary, 'label-data-repo': skill.type == SKILL_TYPE.dataRepository }">{{ skill.name }}</span>
                        </p>
                    </div>

                    <h3 class="heading">Education</h3>
                    <div ng-repeat="school in resume.education">
                        <div class="sub-heading green">{{ school.name }}</div>
                        <p><strong>{{ school.degree }}, {{ school.fieldOfStudy }}</strong> &#151; <em>{{ school.start }} - {{ school.end }}</em></p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h3 class="heading green">Languages</h3>
                    <p ng-repeat="skill in resume.skills | filter:{ type: SKILL_TYPE.language } ">{{ skill.name }}</p>

                    <h3 class="heading blue">Frameworks/Libraries</h3>
                    <p ng-repeat="skill in resume.skills | filter:{ type: SKILL_TYPE.frameworkSlashLibrary } ">{{ skill.name }}</p>

                    <h3 class="heading yellow">Data Repositories</h3>
                    <p ng-repeat="skill in resume.skills | filter:{ type: SKILL_TYPE.dataRepository } ">{{ skill.name }}</p>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <p>Follow me: <a href="https://github.com/superpezgeek" target="_blank"><i class="icon-github-alt"></i></a> <a href="http://www.linkedin.com/pub/dominic-riccardi/1a/793/853" target="_blank"><i class="icon-linkedin-sign"></i></a> <a href="https://twitter.com/superpezgeek" target="_blank"><i class="icon-twitter-sign"></i></a></p>
            </div>
        </div>

        <script src="bower_components/angular/angular.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>